@use "./variables";
@use "mixins";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Parisienne&display=swap');

h1, h2, h3, h4, h5, h6, p, img {
  margin: 0;
  user-select: none;
  color: variables.$black;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: variables.$black;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white url('https://crosby-wedding.s3.eu-west-2.amazonaws.com/paper-texture-v3.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include mixins.flexbox-column;

  #root {
    min-height: 100%;
    width: 80%;
    @include mixins.flexbox-column;

    @media (max-width: variables.$mobile-breakpoint) {
      width: 95%;
    }

    // Consistent layout for all pages: margin-top for nav spacing, padding for content spacing
    main {
      @include mixins.flexbox-start-column;
      flex-shrink: 0;
      width: 100%;
      box-sizing: border-box;
      flex-grow: 1;
      min-height: calc(100vh - 80px); // Ensure full height minus nav
    }
  }
}