@use "./variables";
@use "mixins";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

h1, h2, h3, h4, h5, h6, p, img {
  margin: 0;
  user-select: none;
  color: white;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: white url('https://crosby-wedding.s3.eu-west-2.amazonaws.com/paper-texture.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;


  #root {
    min-height: 100%;
    @include mixins.flexbox-column;

    // Consistent layout for all pages: margin-top for nav spacing, padding for content spacing
    main {
      @include mixins.flexbox-start-column;
      flex-shrink: 0;
      width: 100%;
      box-sizing: border-box;
    }
  }
}